 #cadastro form, #contato form{
 	padding: 0px; margin: 0 0 20px 0;
 }
.campoGrandeForm{
 	width: 120px;
 }
 .textoForm,  .textoPequenoForm, .campoGrandeForm, .campoMedioForm, .campoPequenoForm, #cadastro form ul, #contato form ul, #cadastro ul li, #contato ul li{
 	float: left;
 	line-height: 45px;
 	text-align: right;
 	font-weight: normal;
	font-family: 'Oswald', arial;
	font-size:16px;
 }
 .textoForm label, .textoPequenoForm label{
	font-family: 'Oswald', arial;
	padding-right: 10px;
}
  #cadastro ul li, #contato ul li{
  	width:530px;
  	line-height: 45px;
  }
.campoGrandeForm input, .campoMedioForm input, .campoPequenoForm input, .campoGrandeForm textarea{
	background-color: #fdb813;
	border:0;
	height:25px;
	width:400px;
	float:left;
	margin-top:10px;
}
.campoGrandeForm textarea{
	height:auto;
}
.campoMedioForm input{
	width:260px;
}
.campoPequenoForm input{
	width:80px;
}
.textoForm, .textoPequenoForm{
	line-height:45px;
	width: 120px;
	font-family: arial;
}
.textoPequenoForm{
	margin-left:20px;
	width:40px;
}
.botao{
	background: transparent;
	font-family: 'Oswald', arial;
	font-size:16px;
	border: none;
	text-transform:  uppercase;
	cursor: pointer;
	color: #d8152c;
}
