#menuSuperior{
	background: url("../imagens/fundoMenu.png");
	height: 140px;
	line-height: 140px;
}
nav{
	width:100%;
	overflow: hidden;
	box-shadow: 0 3px 10px #000;
}
nav ul{
	width:100%;
	height:140px;
	list-style:none;
	line-height: 140px;
}

#menuSuperior ul li{
	width:auto;
	height: 20px;
	padding:1px;
	display: inline;  
	margin:60px 12px 0 12px;
	position: relative;
	z-index: 1;
	overflow: hidden;
	float:left;
}
#menuSuperior ul li:last-child{
	margin-right: 0px;
}
#menuSuperior ul li a{
	font-family: 'Oswald';
	text-shadow: 2px 2px 2px #ce162a;
	color: #fff;
	font-size: 17px;
	height: 20px;
	min-width: 50px;
	position: relative;
	z-index: 4;
	float: left;
	margin-top:-60px;
}
#menuSuperior ul li a:hover{
	color: #fdbf2f;
}
