#pop-fundo {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.7);
	top: 0;
	left: 0;
	z-index: 10000;
	display: none;
}

#pop-fundo figure {
	transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
	position: absolute;
	left: 50%;
	top: 50%;
	z-index: 20000;
	max-width: 390px;
	width: 100%;
}
#pop-fundo img {width: 100%;}
#pop-fundo button {
	background-color: #FFFFFF;
    border: medium none;
    border-radius: 5px 5px 0 0;
    color: #000000;
    font-weight: bold;
    height: 30px;
    position: absolute;
    right: 0;
    top: -30px;
    cursor: pointer;
}