.topo{
	top:0;
	left: 0;
	height:40px;
	position:relative;
	z-index:2;
	background: url("../imagens/fundoTopo.png");
	background-position: center;
}
#newsletter{
	float:left;
	position: relative;
	left:150px;
	top: 0;
	width:500px;
	line-height: 35px;
	height: 35px;
}
#newsletter input[type="email"]{
	float:left;
	background: #000;
	border: 1px #fff solid;
	width:220px;
	color:#fff;
}
#newsletter input[type="submit"]{
	color:#eece1f;
	border: 0;
	background: transparent;
	cursor: pointer;
	font-family: 'Oswald', arial;
}

.ifood-topo{
	margin: -2px 0 0 0;
}