A{
	text-decoration: none;
	color: #666666;
}
TD {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: x-small;
	color: #000000;
	text-decoration: none;
}
A.menu {
	color: #FFFFFF;
	text-decoration: none;
}
.submit {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: x-small;
	color: #FFFFFF;
	padding-top: 1px;
	padding-right: 5px;
	padding-bottom: 1px;
	padding-left: 5px;
	background-color: #C8B6A4;
	border: 1px solid;
}
