td {font-family: Tahoma;font-size: 11px;}

.input_login {color: #333333; font-family: Tahoma; font-size: 11px; border: 1px solid #B4DE7A;}
.input_single {color: #333333; font-family: Tahoma; font-size: 11px;}
.input {font-weight: bold; color: #FFFFFF; font-family: Tahoma; font-size: 11px; background-color: #348334; border: 1px solid; padding-top: 1px; padding-right: 5px; padding-bottom: 1px; padding-left: 5px;}
.checkbox {color: #333333; font-family: Tahoma; font-size: 11px;}
.radio {color: #333333; font-family: Tahoma; font-size: 11px;}
.select_tools {
	color: #333333;
	font-family: Tahoma;
	font-weight: bold;
	font-size: 11px;
	border: 1px solid;

}
.select {color: #333333; font-family: Tahoma; font-size: 11px;}
.textarea {color: #333333; font-family: Tahoma; font-size: 11px;}

.font_topo {font-weight: bold; color: #FFFFFF;}
.font_rodape {font-weight: bold; color: #FFFFFF;}
.font_tabela_titulo {font-weight: bold; color: #333333;}
.font_tabela_conteudo {color: #333333;}
.font_pagina_titulo {font-weight: bold; color: #348334;}

.bg_topo {background-image: url(/painel/imagens/bg_topo.jpg);}
.bg_rodape {background-image: url(/painel/imagens/bg_rodape.jpg);}
.bg_tabela_titulo {background-color: #E4F3C8;}
.bg_tabela_conteudo {background-color: #186B27;}

a {font-family: Tahoma; font-size: 11px; color: #333333; text-decoration: none;}
