.clr {
	clear:both;
	height:0
}
/***************/
/** EXEMPLE 1 **/
/***************/
.jScrollbar1{ /* main container */
	width:665px;
	height:332px;
	overflow:hidden;
	position:relative;
	border:1px solid #ff0000;
}
.jScrollbar1 .jScrollbar_mask { /* text container */
	position:relative;
	top:0;
}
	.jScrollbar1 .jScrollbar_mask p { /* paragraphs */
		margin:0;
		padding:0;
		font-size:12px;
	}
	
.jScrollbar1 .jScrollbar_draggable { /* slider container */
	float:left;
	width:13px;
	overflow:hidden;
	background:transparent;
	position:relative
}

.jScrollbar1 .jScrollbar_draggable a.draggable { /** draggable **/
	position:relative;
	background-color:#000;
	display:block;
	width:13px;
	cursor:s-resize
}
	
