.clr {
	clear:both;
	height:0
}

.jScrollbar1, .jScrollbar2{ /* main container */
	width:370px;
	height:150px;
	overflow:scroll;
	position:relative;
	padding:10px;
	margin-left:10px;
}
.jScrollbar2{ /* main container */
	height:330px;
	margin-left:0px;
}
.jScrollbar1 p, .jScrollbar2 p{ /* main container */
	width:340px;
}
.jScrollbar_mask { /* text container */
	width:370px;
	position:relative;
	top:0;
}
.jScrollbar_mask p { /* paragraphs */
	margin:0;
	padding:0;
	color:#2B2B2B;
	font-size:12px;
}
	
.jScrollbar_draggable { /* slider container */
	float:left;
	width:13px;
	height:2000px;
	overflow:hidden;
	background:#ccc;
	position:relative
}

.jScrollbar_draggable a.draggable { /** draggable **/
	position:relative;
	background-color:#c7487a;
	display:block;
	height:70px;
	width:13px;
	/*cursor:s-resize*/
}
