<section id="banner" class="esquerda">
    <!-- espaco banner -->
    <div id="bannerContainer" >
	    <!--figure >
	    	<img src="imagens/delicia_banner1.jpg">
	    	<figcaption> Banner 1</figcaption>
	    </figure-->
	    <figure >
	    	<img src="imagens/delica_banner2.jpg">
	    	<figcaption> Banner 2</figcaption>
	    </figure>
	</div>
</section>
