<article class="fundoEscuro">
    <h1>ÁREA DE ENTREGA</h1>
    <img src="imagens/mapaMetade.jpg" alt="" title="" class="esquerda" />

    <p style="width:250px; padding-left:10px">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam lobortis posuere libero in mattis. Sed tincidunt semper cursus. Vestibulum ornare, felis et gravida pellentesque, nulla metus pharetra enim, eget ullamcorper urna nibh nec odio. Nullam nec convallis eros. Sed rhoncus sodales massa, vitae aliquam justo consectetur vel. Duis eget quam a tellus elementum sollicitudin sed vitae massa. Suspendisse arcu nibh, luctus vitae ornare non, feugiat vitae arcu. Vivamus semper porttitor elementum. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Phasellus elementum elementum magna, a bibendum purus lacinia vel.
    </p>
    <h5>PAGUE SEM SAIR DE CASA, LEVAMOS O LEITOR ATÉ VOCÊ</h5>
</article>
