<section id="corpo">
    <div class="centraliza">

        <section id="conteudo" class="esquerda">
            <?php
                require('controller/main.php');
            ?>
        </section>

    </div>
</section>
