<section id="banner" class="esquerda">
    <!-- espaco banner -->
    <div id="bannerContainer" >
	    <!--figure >
	    	<img src="imagens/delicia_banner0.jpg" style="width:900px; height:462px">
	    </figure-->
	    <figure >
	    	<img src="imagens/delicia_banner1.jpg" style="width:900px; height:462px">
	    	<figcaption> MAIS DE 60 TIPOS DE PIZZA</figcaption>
	    </figure>
	    <figure >
	    	<img src="imagens/delicia_banner2.jpg" style="width:900px; height:462px">
	    	<figcaption> PIZZAS SALGADAS E DOCES QUE DEIXAM QUALQUER UM COM ÁGUA NA BOCA</figcaption>
	    </figure>
	    <figure >
	    	<img src="imagens/delicia_banner3.jpg" style="width:900px; height:462px">
	    	<figcaption> ESCOLHA A UNIDADE MAIS PERTO DE VOCÊ</figcaption>
	    </figure>
	</div>
</section>
