<section id="banner" class="esquerda">
    <!-- espaco banner -->
    <div id="bannerContainer" >
	    <!--figure >
	    	<img src="imagens/delicia_banner0.jpg" style="width:900px; height:462px">
	    </figure-->
	    <figure >
	    	<img src="imagens/delicia_banner1.jpg" style="width:900px; height:462px">
	    	<figcaption> MAIS DE 60 TIPOS DE PIZZA</figcaption>
	    </figure>
	    <figure >
	    	<img src="imagens/delicia_banner2.jpg" style="width:900px; height:462px">
	    	<figcaption> PIZZAS SALGADAS E DOCES QUE DEIXAM QUALQUER UM COM ÁGUA NA BOCA</figcaption>
	    </figure>
	    <figure >
	    	<img src="imagens/delicia_banner3.jpg" style="width:900px; height:462px">
	    	<figcaption> ESCOLHA A UNIDADE MAIS PERTO DE VOCÊ</figcaption>
	    </figure>
	</div>

	<div class="ifood-banner">

	<img style="position: relative; bottom: 0em; right: -0.2em;" id="Image-Maps-Com-image-maps-2016-06-29-150346" src="imagens/botao-aplicativos-horiz-menor.png" border="0" width="126" height="81" orgWidth="126" orgHeight="81" usemap="#image-maps-2016-06-29-150346" alt="" />
	<map name="image-maps-2016-06-29-150346" id="ImageMapsCom-image-maps-2016-06-29-150346">
	<area  alt="" title="" href="https://play.google.com/store/apps/details?id=com.wabiz.delivery.deliciadepizza&hl=pt_BR" shape="rect" coords="0,0,126,42" style="outline:none;" target="_blank"     />
	<area  alt="" title="" href="https://itunes.apple.com/br/app/delicia-de-pizza/id1092524597?mt=8" shape="rect" coords="0,42,126,81" style="outline:none;" target="_blank"     />
	<area shape="rect" coords="124,79,126,81" alt="Image Map" style="outline:none;" title="Image Map" href="http://www.image-maps.com/index.php?aff=mapped_users_0" />
	</map>

	</div>
</section>
