<article class="fundoEscuro">
    <h1>LOCALIZAÇÃO</h1>
    <img src="imagens/mapa.jpg" alt="" title="" class="esquerda" />

    <p style="text-align: center; width:530px; margin-top:10px">
        <span class="amarelo">ONDE ESTAMOS:</span><br />
        RUA SÃO TEODORO, 237 - VILA CARMOSINA<br />
        (ESQUINA COM A FONTOURA XAVIER)<br /><br />

        <span class="amarelo">HORÁRIO DE FUNCIONAMENTO:</span><br />
        DE SEGUNDA A DOMINGO DAS 18 ÀS 24H<br /><br />

        <span class="amarelo">PEÇA PELO NOSSO DELIVERY:</span><br />
        (11) 2254-368<br /><br />

        <span class="amarelo">COMPRE ONLINE
    </p>
</article>

