<footer>
    <div class="centraliza" style="font-weight:bold">
    	<div style="width:100%; height:30px; line-height:30px; float:left">
	    	<h4 class="sombraAmarela esquerda" style="margin-top:7px; margin-right:10px">FORMAS DE PAGAMENTO:</h4>
	    	<img src="imagens/logosRodape.png" alt="Cartões" class="esquerda" />
	    </div>
    	<br />
        © 2012. <a href="maito:" style="color:#000">Delícia de Pizza</a>. Todos os direitos reservados. Desenvolvido por <a href="http://www.projectocom.com.br" target="_blank" style="color:#000">Projecto Comunicação</a>
    </div>
</footer>

</body>
</html>
