<section id="banner" class="esquerda">
    <!-- espaco banner -->
    <div id="bannerContainer" >
	    <figure >
	    	<img src="http://dummyimage.com/900x462/000/ff0.jpg" alt="" title="" />
	    	<figcaption> Banner 1</figcaption>
	    </figure>
	    <figure >
	    	<img src="http://dummyimage.com/900x462/ff0/000.jpg" alt="" title="" />
	    	<figcaption> Banner 2</figcaption>
	    </figure>
	</div>
</section>
