<div class="centraliza">
	<nav id="menuSuperior">
		<a href="" onclick="mudarEndereco ( 'home' )">
			<img src="imagens/logoDelicia.jpg" alt="" title="" class="esquerda" >
		</a>
		<?php
		if(strlen($_SERVER["REMOTE_ADDR"]) < 12){
		?>

	    <ul>
	        <li><a href="?rota=view/nossaCasa" id="quemSomos">QUEM SOMOS</a></li>
	        <li><a href="?rota=view/cardapio" id="cardapio">CARDÁPIO</a></li>
	        <li><a href="?rota=view/delivery" id="delivery">DELIVERY</a></li>
	        <li><a href="?rota=view/enderecos" id="enderecos">ENDEREÇOS</a></li>
	        <li><a href="?rota=view/cadastro" id="cadastro">CADASTRO</a></li>
	        <li><a href="?rota=view/contato" id="contato">FALE CONOSCO</a></li>
	    </ul>
		<?php
		}else{
		?>
	    <ul>
	        <li><a href="nossaCasa" id="quemSomos">QUEM SOMOS</a></li>
	        <li><a href="cardapio" id="cardapio">CARDÁPIO</a></li>
	        <li><a href="delivery" id="delivery">DELIVERY</a></li>
	        <li><a href="enderecos" id="enderecos">ENDEREÇOS</a></li>
	        <li><a href="cadastro" id="cadastro">CADASTRO</a></li>
	        <li><a href="contato" id="contato">FALE CONOSCO</a></li>
	    </ul>
		<?php
		}
		?>
	</nav>
</nav>
