<section class="colunaMenor direita fundoPedidoPequeno">
    <a href="http://www.restauranteweb.com.br/capaRestaurante.cfm?codRestaurante=17&codFilial=1&tipo=cep&cep=00000000&origem=RE&indicaCep=sim1&CFID=25907957&CFTOKEN=10453142" target="_blank">
        <img src="imagens/fundoPedidoPequeno.png" alt="Pedido" />
    </a>
    <img src="imagens/marcas.png" alt="Marcas" style="max-width:270px; margin-top:20px" />
</section>