/* Alterações:
Os objetos dentro da moldura são blocos de conteudo,
e mantendo a altura automática ela vai acompanhar o tamanho do conteudo.
*/
body{
	background-color: #343434;
	background-image: url("../imagens/fundo_geral_adm.jpg");
	background-repeat: repeat-x;
	font-family: arial, Geneva, sans-serif;
	font-size:12px;
	color: #000;
}
img{
	border:0px;
}
a{
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
}
#moldura, #creditos{
	margin: 17px auto;
	width: 1000px;
	/*min-height: 750px;*/
	background: #ebebeb;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}
#moldura {
	min-height:705px;
}
#creditos{
	margin: 17px auto;
	width: 1000px;
	line-height: 50px;
	background: none;
	text-align: left;
	color:#fff;
	text-indent:20px;
}
#creditos img{
	float:right;
}
#cabecalho{
	display:inline-block;
	width: 1000px;
	height:150px;
}
#cabecalho .logo{
	float:left;
	max-height:100px;
	margin-top:25px;
	margin-left:10px;
}
#detalhe_cabecalho{
	width: 200px;
	float: right;
	height:130px;
	margin: 10px;
	text-align:right;
	color:#fff;
	font-weight:bold;
	font-family:arial;
	font-size:16px;
}
.ip{
	float:right;
	text-align:right;
	font-size:12px;
	margin-top:10px;
}
#informacoes_sistema{
	float: left;
	width: 1000px;
	line-height:40px;
	box-shadow:0 5px 0px #ccc;
	margin-bottom: 20px;
}
#informacoes_sistema img{
	float: left;
	margin-right:10px;
	margin-left:20px;
}
#links_sistema{
	float: right;
	margin-right:20px;
	width:250px;
	text-align:right;
}
#menu_esquerdo{
	display: block;
    height: auto;
    margin: 15px;
    width: 225px;
}
aside{
	float: left;
	width: 225px;
	height:100px;
	background: #fff;
	border-radius: 10px;
}
aside a{
	font-size: 10px;
}
aside .link_aside{
	float: left;
	width: 205px;
	margin-left:10px;
	list-style:inside;
	line-height:25px;
	border-bottom:1px #ccc solid;
}
.cor1, .titulo_aside{
	background: #782827;
}
.cor2, .icone_aside{
	background: #b03a3a;
}
.icone_aside{
	float:left;
	border-top-left-radius: 10px;
	width: 50px;
	height: 40px;
}
.titulo_aside{
	border-top-right-radius: 10px;
    display: inline-block;
    font-weight: bold;
    line-height: 40px;
    text-align: center;
    width: 175px;
}
.borda_aside, .borda_detalhe_cabecalho{
	border-bottom: 5px solid;
	border-color: #b03a3a;
}
.borda_detalhe_cabecalho{
	border-left: 1px solid;
	border-bottom: 0px;
	border-color: #b03a3a;
}

.cor_fonte1{
	color: #fff;
}
.cor_fonte2{
	color: #000;
}
.cor_fonte3{
	color: #b03a3a;
}
.cor_fonte4{
	color: #b03a3a;
}
#conteudo{
	background: none repeat scroll 0 0 #FFFFFF;
    display: inline-block;
    height: auto;
    margin-bottom: 20px;
    margin-left: 15px;
    padding-left: 20px;
    padding-right: 20px;
    width: 690px;
	border-radius: 10px 10px 10px 10px;
}
#conteudo article{
	float: left;
	width: 690px;
	height:auto;
	margin-top:20px;
	background:#fff;
	margin-left:0;
	padding: 0;
}
#conteudo article:last-child{
	margin-bottom:20px;
}
#conteudo article figure{
	float:left;
	width: 120px;
	height:auto;
	margin:0;
	border: 1px #f7f7f7 solid;
	text-align: center;
}
#conteudo article figure img{
	max-width: 100px;
	margin: 10px;
}
#conteudo nav{
	float:left;
	margin-top: 10px;
	clear:left;
}
.titulo_lista{
	float:left;
	margin-left:10px;
}
.titulo_lista h1{
	font-size: 14px;
	height:14px;
	margin-top:0;
}
.titulo_lista h2{
	float:left;
	font-size: 12px;
	height:14px;
	margin-top:10;
}
h1{
	color: #8f8f8f;
	line-height:51px;
	font-size:30px;
}
h1 img{
	margin-right:5px;
	line-height:51px;
	float:left;
}
.div_tres_botoes{
	float:right;
	width: 397px;
	line-height:75px;
}
.div_dois_botoes{
	float:right;
	width: 267px;
	line-height:75px;
}
.botao{
	float:left;
	margin:10px;
	width: 122px;
	margin-right: 0px;
	border:0px;
	height:35px;
	cursor:pointer
}
.botao:hover{
	border: 1px #ccc dotted;
}
.bt_cancelar{
	background-image:url("../imagens/botao_cancelar.gif");
}
.bt_visualizar{
	background-image:url("../imagens/botao_visualizar.gif");
}
.bt_publicar{
	background-image:url("../imagens/botao_publicar.gif");
}
.bt_enviar{
	background-image:url("../imagens/botao_enviar.gif");
}
.bt_enviar_foto{
	background-image:url("../imagens/botao_enviar_foto.gif");
}
.linha_formulario, .linha_formulario_login, .linha_formulario_cleditor{
	float:left;
	width: 100%;
	line-height:25px;
	margin-top:20px;
}
.linha_formulario_login {
	width: 460px;
	line-height:40px;
}
.linha_formulario_cleditor{
	line-height:200px;
}
.label_formulario, .label_formulario_metade{
	float:left;
	width: 690px;
	line-height:25px;
	font-size:10px;
}
.label_formulario_metade{
	width: 300px;
}
.linha_formulario input, .linha_formulario select, .linha_formulario_login input{
	float:left;
	width:690px;
	border:1px #ccc solid;;
	background: #ebebeb;
	border-radius: 5px;
	height:25px;
}
.metade_input{
	width:345px;
}
.linha_formulario_login input{
	float:left;
	width:300px;
}
.linha_formulario input:focus, .linha_formulario input:hover, .cleditorMain:hover{
	border:1px #000 solid;
	/*background:#FFB;*/
}
.box_login{
	position: relative;
	float:left;
	top: 100px;
	left:50%;
	margin-left: -250px;
	width: 500px;
	height:200px;
	border-radius: 10px;
	background: #fff;
}
#resposta{
	float: left;
	color:red;
	margin-left:60px;
	margin-top:20px;
}
#controles{
	width: 670px;
	height:100px;
	float:left;
	border-radius: 10px;
	border: 1px #ccc solid;
	background:#F9F9F9;
	padding:10px;
}
