#banner{
	position: relative;
	z-index 1;
	width:880px;
	height: 482px;
	padding: 10px;
	background:#fff;
	box-shadow: 3px 3px 8px #000;
}
#bannerContainer {
	position: relative;
	overflow: hidden;
	width: 880px;
	height: 462px;
}
#banner figure{
	position:relative;
	float: left;

}
#banner figcaption {
	
    background-image: url("../imagens/fundoMenu.png");
    bottom: 0;
    font-family: 'Oswald','sans-serif';
    font-size: 16pt;
    height: 40px;
    padding: 10px 22px;
    position: absolute;
    width: 100%;
}

#bannerNav{
	position: absolute;
	right: 8px;
	bottom: 20px;
	height: 17px;
}
.bannerItem{
	background-image: url('../imagens/bannerBackground.png');
	background-position: center right;
	float: left;
	margin-left: 6px;
	height: 17px;
	width: 16px;
	display: block;
	color: transparent;
}
a.bannerItem:hover,
a.bannerItem.atual{
	background-position: center left;
}