#corpo{
	min-height: 500px;
	/*overflow: hidden;*/
}
#conteudo{
	width: 900px;
	height: 482px;
	margin-top: 20px;
	background: #fff;
	color: #000;
	overflow: hidden;
	box-shadow: 0 3px 10px #000;
}
.faixas{
	background: url("../imagens/fundoMenu.png");
	height: 10px;
	width: 100%;
	float: left;
}
.fundoEscuro{
	background: #fff;
	width:565px;
	height: 462px;
	padding: 0 15px 0 15px;
}
.meia{
	width:230px;
	text-align: center;
	height: 250px;
	float: left;
}
.meia h2{
	color:#90b430;
	font-size: 18px;
	margin-top: 20px;
}
.meia a{
	font-style: italic;
	color: #db152c;
}
.fundoEscuro h1{
	margin-bottom:20px;
	font-family: 'Yellowtail', cursive;
}
.fundoEscuro p{
	margin-bottom:20px;
}
.fundoEscuro figure img{
	margin: 2px;
	border: 1px #fff solid;
}
.imgQuemSomos, .imgCardapio, .imgDelivery, .imgEnderecos, .imgContato, .imgCadastro{
	width: 300px;
	height: 462px;
	float: right;
}
.imgQuemSomos{
	background: url("../imagens/imgQuemSomos.jpg");
}
.imgCardapio{
	background: url("../imagens/imgCardapio.jpg");
}
.imgDelivery{
	background: url("../imagens/imgDelivery.jpg");
}
.imgEnderecos{
	background: url("../imagens/imgEnderecos.jpg");
}
.imgContato{
	background: url("../imagens/imgContato.jpg");
}
.imgCadastro{
	background: url("../imagens/imgCadastro.jpg");
}
.linksDelivery{
	text-align:center; 
	width:100%;
	box-shadow: 0;
}
.linksDelivery a{
	font-size: 18px;
	color: #e2162e;
	font-family: 'Oswald';
}