html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small,  strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;	padding: 0;	border: 0;
}
ul {list-style:none}
img{border:0;}
section, article, aside, header, footer, nav, dialog, figure {display:block;}
article{float:left}
*{margin: 0 auto;}
body{
	background-image: url('../imagens/fundoSite.jpg');
	margin: 20px auto; 
	font-family: arial;
	color:#fff;
	font-size:12px;
	/*overflow: hidden;*/
}
a, nav ul li a:hover, .amarelo, h1, h2, h3{
	text-decoration: none;
	color:#fff;
}
.vermelho{
	color: #dd152d;
	text-transform: uppercase;
	font-weight: bold;
	font-size:14px;
}
a:hover{
	text-decoration:underline;
}
#geral, .centraliza{
	width: 900px;
	height: auto;
	margin: 0 auto;
}
h1, h2, h3, h4, h5, h6, .fume, nav ul li a, .linkFundoAzul, .textoForm, .textoPequenoForm{
	font-family: 'Oswald', 'Futura MdCn BT';
	font-size:50px;
	font-weight: normal;
	text-transform: uppercase;
	color: #000;
}
h1{
	font-family: 'Yellowtail', cursive;
	text-transform: none;
	background: url("../imagens/fundoH1.png");
	background-repeat: no-repeat;
	font-weight: 400;
	line-height:60px;
}

h2{
	font-size: 30px;
}
h3{
	font-size:26px;
	margin-top:10px;
}
h4{
	font-size:18px;
	line-height: 30px;
}
h5{
	font-size: 24px;
}
h6{
	font-size: 18px;
	color: #000;
	font-family: 'Oswald', arial;
	margin-bottom: 50px;
}
.sombraVerde{
	text-shadow: 2px 2px 2px #72931d;
	text-indent: 40px;
}
.sombraAmarela{
	text-shadow: 2px 2px 2px #fdb813;
	color:#fff;
}
.icoFace{
	background: url('../imagens/icoFace.png');
	background-repeat: no-repeat;
}
.icoPizza{
	background: url('../imagens/icoPizza.png');
	background-repeat: no-repeat;
}
.ingredientes{
	margin-top:-20px;
	font-style: italic;
}
.normal{
	font-weight:normal;
	color:#fff;
}
.zero{
	margin: 0;
}
.meia, .colunaMaior{
	width: 390px;
	padding: 20px 20px 0 20px;
	height:auto;
}
.colunaMaior{
	width: 560px;
}
.colunaMenor{
	width: 270px;
}
.fundoPedidoPequeno{
	min-height: 167px;
}
.colunaMaior p{
	margin:10px 0 10px 0;
	width: 100%;
}
.esquerda, p, footer{
	float:left;
}
.direita{
	float:right;
}
.textoDireita{
	text-align: right;
}
.terco, .terco p, .fume{
	width:270px;
}
.terco{
	height:200px;
	margin-left:15px;
	margin-right:15px;
	border-radius:10px;
	overflow: hidden;
}
.terco img, .fume{
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
}
.terco p{
	text-align:center;
}
.fundoPedido{
	height: 260px;
	background-image: url('../imagens/fundoPedido.png');
	background-position: left top;
	background-repeat: no-repeat;
	padding-top:30px;
}
.textoPedido{
	margin-top:20px;
	color: #393939;
	font-size:12px;
}
#contatos{
	background: url("../imagens/fundoContatos.png");
	text-align: center;
	padding:20px 10px 20px 10px;
}
#temosTambem, #cartoes, #contatos{
	clear: left;
	margin-top: 20px;
	text-align: center;
	float:left;
}
#temosTambem{
	padding-top: 15px;
	height: 105px;
	background: url("../imagens/destaqueVerde.png");
	background-position: center;
	background-repeat:  no-repeat;
}
