/* Tiny Scrollbar 
#scrollbar1 { width: 520px; margin: 20px 0 10px; }
#scrollbar1 .viewport { width: 500px; height: 320px; overflow: hidden; position: relative; }
#scrollbar1 .overview { list-style: none; position: absolute; left: 0; top: 0; padding: 0; margin: 0; }
#scrollbar1 .scrollbar{ background: transparent url(../images/bg-scrollbar-track-y.png) no-repeat 0 0; position: relative; background-position: 0 0; float: right; width: 15px; }
#scrollbar1 .track { background: transparent url(../images/bg-scrollbar-trackend-y.png) no-repeat 0 100%; height: 100%; width:13px; position: relative; padding: 0 1px; }
#scrollbar1 .thumb { background: transparent url(../images/bg-scrollbar-thumb-y.png) no-repeat 50% 100%; height: 20px; width: 25px; cursor: pointer; overflow: hidden; position: absolute; top: 0; left: -5px; }
#scrollbar1 .thumb .end { background: transparent url(../images/bg-scrollbar-thumb-y.png) no-repeat 50% 0; overflow: hidden; height: 5px; width: 25px; }
#scrollbar1 .disable { display: none; }
.noSelect { user-select: none; -o-user-select: none; -moz-user-select: none; -khtml-user-select: none; -webkit-user-select: none; }
*/

/* Tiny Scrollbar */
#scrollbar1 { width: 570px; }
#scrollbar1 .viewport { width: 550px; height: 320px; overflow: hidden; position: relative; }
#scrollbar1 .overview { list-style: none; position: absolute; left: 260px; top: 0; padding: 0; margin: 0; }
#scrollbar1 .scrollbar{ background: transparent url(../images/bg-scrollbar-track-y.png) no-repeat 0 0; position: relative; background-position: 0 0; float: right; width: 15px; }
#scrollbar1 .track { background: transparent url(../images/bg-scrollbar-trackend-y.png) no-repeat 0 100%; height: 100%; width:15px; position: relative; padding: 0 1px; }
#scrollbar1 .thumb { background: transparent url(../images/bg-scrollbar-thumb-y.png) no-repeat 50% 100%; height: 20px; width: 25px; cursor: pointer; overflow: hidden; position: absolute; top: 0; left: -5px; }
#scrollbar1 .thumb .end { background: transparent url(../images/bg-scrollbar-thumb-y.png) no-repeat 50% 0; overflow: hidden; height: 5px; width: 25px; }
#scrollbar1 .disable { display: none; }
.noSelect { user-select: none; -o-user-select: none; -moz-user-select: none; -khtml-user-select: none; -webkit-user-select: none; }
.boxAmarelo{
	width: 245px; 
	padding-top:70px;
	margin-top:10px;
}
.tituloBoxAmarelo{
	height:25px; 
	width:100%; 
	background: url('../imagens/fundoMenu.png'); 
	line-height:30px; 
	text-indent:10px
}
.tituloBoxAmarelo a{
	font-family:'Oswald'; 
	color:#fff; 
	font-size:16px; 
}
.fundoPizza, .fundoSobremesa, .fundoBebida{
	background-position: center;
}

.fundoPizza{
	background-image: url('../imagens/cardapioPizzas.jpg');
}
.fundoSobremesa{
	background-image: url('../imagens/cardapioSobremesas.jpg');
}
.fundoBebida{
	background-image: url('../imagens/cardapioBebidas.jpg');
}

