<footer id="creditos">
    Painel de Controle Versão <?php echo VERSAO; ?>
    <a href="http://www.projectocom.com.br" target="_blank"><img src="imagens/logo_projecto.jpg" alt="Projecto" title="Projecto" /></a>
</footer>
