<headers id="cabecalho" class="cor1">
    <a href="/"><img src="imagens/logo_cliente.png" alt="" title="Home" class="logo" /></a>
    <div id="detalhe_cabecalho" class="borda_detalhe_cabecalho">
        PAINEL DE CONTROLE
        <div class="ip cor_fonte1">
            Seu IP é <?php echo IP; ?>
        </div>
    </div>
</headers>

<section id="informacoes_sistema" class="cor2 cor_fonte1">
    &nbsp;
</section>
