<section id="menu_esquerdo">
      <aside class="borda_aside" style="margin-top:20px; height:auto; padding-bottom:10px;">
        <div class="icone_aside"><img src="imagens/ico_noticias.png" alt="ico_aside" /></div>
        <div class="titulo_aside cor_fonte1">PRODUTOS</div>
        <li class="link_aside cor_fonte3"><a href="?rota=view/produtos" class="cor_fonte2">ADICONAR PRODUTO</a></li>
        <li class="link_aside cor_fonte3"><a href="?rota=view/lista&tipo=produtos" class="cor_fonte2">EDITAR PRODUTO</a></li>
        <li class="link_aside cor_fonte3"><a href="?rota=view/categorias" class="cor_fonte2">ADICONAR CATEGORIAS</a></li>
        <li class="link_aside cor_fonte3"><a href="?rota=view/lista&tipo=categoriasProdutos" class="cor_fonte2">EDITAR CATEGORIAS</a></li>
    </aside>
    <aside class="borda_aside" style="margin-top:20px; height:auto; padding-bottom:10px;">
        <div class="icone_aside"><img src="imagens/ico_noticias.png" alt="ico_aside" /></div>
        <div class="titulo_aside cor_fonte1">BANNERS</div>
        <li class="link_aside cor_fonte3"><a href="?rota=view/banners" class="cor_fonte2">ADICONAR BANNER</a></li>
        <li class="link_aside cor_fonte3"><a href="?rota=view/lista&tipo=banners" class="cor_fonte2">EDITAR BANNER</a></li>
        <li class="link_aside cor_fonte3"><a href="?rota=view/categoriasBanners" class="cor_fonte2">ADICONAR CATEGORIAS</a></li>
        <li class="link_aside cor_fonte3"><a href="?rota=view/lista&tipo=categoriasBanners" class="cor_fonte2">EDITAR CATEGORIAS</a></li>
    </aside>
</section>
