<section id="menu_esquerdo">
    <aside class="borda_aside" style="height:auto">
        <div class="icone_aside"><img src="imagens/ico_noticias.png" alt="ico_aside" /></div>
        <div class="titulo_aside cor_fonte1">CONFIGURAÇÕES</div>
        <li class="link_aside cor_fonte3"><a href="logo_formulario.php" class="cor_fonte2">EDITAR LOGO</a></li>
        <li class="link_aside cor_fonte3"><a href="cores_formulario.php" class="cor_fonte2">SISTEMA DE CORES</a></li>
    </aside>
</section>
